<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @demo_scaffold.name %>
</p>

<%= link_to 'Edit', edit_demo_scaffold_path(@demo_scaffold) %> |
<%= link_to 'Back', demo_scaffolds_path %>
